<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceModel.Channels" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TransMock.Communication.NamedPipes" publicKeyToken="ac50b018392a433b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.6217" newVersion="1.4.0.6217" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>