<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BizUnit.Core" version="5.0.5" targetFramework="net45" requireReinstallation="true" />
  <package id="BizUnit.TestSteps" version="5.0.5" targetFramework="net45" requireReinstallation="true" />
  <package id="TransMock.Adapter" version="1.5.0-beta2" targetFramework="net46" />
  <package id="TransMock.Framework" version="1.5.0-beta2" targetFramework="net46" />
</packages>