<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BizUnit.Core" version="5.0.5" targetFramework="net46" />
  <package id="BizUnit.TestSteps" version="5.0.5" targetFramework="net46" />
  <package id="TransMock.Adapter" version="1.6.5" targetFramework="net48" />
  <package id="TransMock.Framework" version="1.6.5" targetFramework="net48" />
</packages>